/* Color need to be changed */
/* menus for all pages */
.menu {
  color: black;
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  flex-direction: row;
  margin-bottom: 0px;
}

#all {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-form {
  background-color: lightgray;
  height: 300px;
  border: 5px black;
  display: flex;
  flex-direction: column;
  width: 500px;
  font-size: 22px;
}

.header{
  background-color: lightgrey;
  display:flex;
  justify-content: center;
  width:500px;
  font-size: 28px;



}

input[type="submit"] {
  background-color: green; /* Change this color to your desired color */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
 
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: green; 
}

