body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f8f5;
  color: #333;
}

header {
  background-color: #fafafa;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mainicon {
  display: none;
}

.hero {
  background-color: #a8e4a0;
  text-align: left;
  padding: 50px 20px;
}

.hero h1 {
  margin: 0;
  font-size: 2.5em;
  margin-left: 50px;
  color: #333;
}

.hero .btn {
  display: inline-block;
  margin-top: 20px;
  margin-left: 50px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.hero .btn:hover {
  background: #000000;
  opacity: 0.6;
}

.benefits {
  text-align: center;
  padding: 50px 20px;
}

.benefit-content {
  display: grid;
  
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px; /* Adjust the gap between items as needed */
  padding: 20px;
}

.benefit-item {
  /*background-color: whitesmoke; /* Add some background color for visibility */
  font-size: 20px;
  padding: 20px; /* Add some padding */
  border: black 1px solid; /* Add a border for visibility */
  padding: 20px; /* Add some padding */
  text-align: center; /* Center the text */
  border-radius: 8px; /* Optional: Add some rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}
body {
  overflow-x: hidden;
}
