body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f8f5;
  color: #333;
}

header {
  background-color: #fafafa;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mainicon {
  display: none;
}

.hero {
  background-color: #a8e4a0;
  text-align: left;
  padding: 50px 20px;
}

.hero h1 {
  margin: 0;
  font-size: 2.5em;
  margin-left: 50px;
  color: #333;
}

.hero .btn {
  display: inline-block;
  margin-top: 20px;
  margin-left: 50px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.hero .btn:hover {
  background: #000000;
  opacity: 0.6;
}

.benefits {
  text-align: center;
  padding: 50px 20px;
}

.benefit-content {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.benefit-item {
  width: 45%;
  height: 200px;
  background-color: #ddd;
  border-radius: 10px;
}
body {
  overflow-x: hidden;
}
