body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.categories {
  background-color: #f4f4f4;
  padding: 60px 20px 20px 20px; /* Added padding at the top */
  text-align: left;
  border-bottom: 2px solid #000000;
}

.category-buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.category {
  background-color: #ffffff;
  border: 2px solid #00ff2a;
  border-radius: 100px; /* Increase border-radius to make the box oval */
  padding: 30px 0px; /* Adjust padding to create an oval shape */
  cursor: pointer;
  flex: 1 1 calc(20% - 10px); /* Adjust this percentage to make sure all buttons fit in one row */
  max-width: 100%;
  text-align: center; /* Center the text within the category */
}

.separator {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
}

.results {
  padding: 20px;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.recipe-item {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: 200px;
}

.recipe-item img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.recipe-item .details {
  margin-top: 10px;
}
